*.pyc
*.pyo
*.pyd
__pycache__/
.pytest_cache/
.tox/
.coverage
htmlcov/
*.egg-info/
.Python
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
Thumbs.db
runs/
*.pth
yolo11.yaml
yolo11n.pt
*.txt
*.7z
*.backup
val_filter.py
miss/
DD_ori_data/
augmented/
.*/
